<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Daikoukai.Shell.Shell" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Daikoukai.Shell.Shell>
            <setting name="Key" serializeAs="String">
                <value>00x61CxJ4eA7TxqGHvdXx35U0294ZwSe</value>
            </setting>
            <setting name="IV" serializeAs="String">
                <value>00x61CxJ4eA7TxqGHvdXx35U0294ZwSe</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="KeySize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Padding" serializeAs="String">
                <value>Zeros</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>CBC</value>
            </setting>
        </Daikoukai.Shell.Shell>
    </userSettings>
</configuration>